<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
  <menu id="root-menu" label="OpenBox 3">
    <menu id="10" label="Apps">
      <item label="kitty">
        <action name="Execute">
          <execute>kitty</execute>
        </action>
      </item>
      <item label="Firefox">
        <action name="Execute">
          <execute>/usr/lib/firefox/firefox %u</execute>
        </action>
      </item>
      <item label="Chromium">
        <action name="Execute">
          <execute>/usr/bin/chromium %U</execute>
        </action>
      </item>
    </menu>
    <menu id="11" label="Settings">
      <item label="Openbox Configuration Manager">
        <action name="Execute">
          <execute>obconf %f</execute>
        </action>
      </item>
      <item label="Reconfigure">
        <action name="Reconfigure"/>
      </item>
    </menu>
    <separator/>
    <menu id="20" label="Leave">
      <item label="Logout">
        <action name="Logout"/>
      </item>
    </menu>
  </menu>
</openbox_menu>